@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
:root {
    --primaryColor: #25235b;
    --secondaryColor: #ee666c;  /*rgb(238, 102, 108)*/
    --tertiaryColor: #69c5d7;
    --black: #212529;
    --lightGray: #f3f3f2;
    --white: #fff;
    --fontSize: 16px;
    --fontFamily: 'Poppins', sans-serif;
    --transition: .5s ease;
    --boxShadow: 0 0 20px gray;
}
/*****************
basic styles
*****************/
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    color: var(--black);
}
a {
    text-decoration: none;
    transition: var(--transition);
}
/*****************
nav
*****************/
nav {
    padding: 15px !important;
}
.navbar-brand img {
    width: 150px;
}
.navbar-brand {
    transition: var(--transition);
}
.navbar-brand:hover {
    opacity: .8;
}
.nav-link {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-link:hover {
    color: var(--white);
    text-shadow: 0 0 10px var(--secondaryColor);
}
/*****************
mainHeader
*****************/
.mainHeader {
    background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(img/header3.jpg);
    height: 60vh;
    background-size: cover;
}
/*****************
intro
*****************/
.intro {
    background-color: var(--primaryColor);
    margin-top: -100px;
    padding: 50px;
}
.intro h1 {
    text-shadow: 0 0 10px var(--secondaryColor);
    font-weight: 800;
    font-size: 7rem;
    margin-top: -180px;
}
.intro h3 {
    font-weight: 600;
    color: var(--secondaryColor);
    text-shadow: 0 0 1px var(--white);
    text-transform: uppercase;
}
/*****************
services
*****************/
.services .col-md-4 div {
    padding: 40px;
}
.services .col-md-4 div:first-child {
    margin-bottom: 30px;
}
.services .redish {
    background-color: var(--secondaryColor);
    color: var(--white);
}
.services .blueish{
    background-color: var(--primaryColor);
    color: var(--white);
}
.services .grayish {
    background-color: var(--lightGray);
}
.services h3 {
    font-weight: 800;
    text-transform: uppercase;
}
/*****************
about
*****************/
.about {
    background-image: url(img/bg3.jpg);
}
.about .slide {
    padding: 80px 80px 65px;
    text-align: center;
    background-color: var(--secondaryColor);
}
.about .text p {
    padding-bottom: 10px;
}
.about .text h2 {
    transform: 
        rotate(-90deg) 
        translate( -205px, -55px)
    ;
    font-size: 6.2rem;
    font-weight: 800;
}
.about .col-md-6:first-child .text {
    padding: 65px 80px 30px 0;
}
/*****************
footer
*****************/
footer {
    background-image: url(img/footer.jpg);
    padding: 90px 0;
}
footer .narrow {
    flex: 0 0 22.2%;
}
footer .wide {
    flex: 0 0 27.8%;
}
footer h4 {
    font-size: 1.75rem;
    margin-bottom: 0;
}
footer ul li {
    padding-top: 15px;
    transition: var(--transition);
}
footer a, footer i {
    color: var(--black);
    transition: var(--transition);
}
footer a:hover, footer i:hover {
    color: var(--primaryColor);
}
footer ul li:hover i {
    color: var(--secondaryColor);
}

/*****************
HOW DO WE WORK
*****************/
/*****************
hdwHeader / eduHeader / blogHeader
*****************/
.hdwHeader, .eduHeader, .blogHeader {
    background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(img/header3.jpg);
    height: 46vh;
    background-size: cover;
}
.hdwHeader h2, .eduHeader h2, .blogHeader h2 {
    background-color: rgba(238, 102, 108, .8);
    padding: 20px 40px;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.1;
}
/*****************
hdwContent
*****************/
.hdwContent h2 {
    transform: 
        rotate(-90deg) 
        translate( 35px, 0)
    ;
    font-size: 6.2rem;
    font-weight: 800;
    line-height: 1;
}
.hdwContent h3 {
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 30px;
    font-size: 2rem;
}
.hdwContent h3:first-child {
    margin-top: 0;
}
.hdwContent p {
    border-bottom: 2px solid var(--secondaryColor);
    padding-bottom: 25px;
}
.hdwContent p:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

/*****************
EDUCATION
*****************/
/*****************
education
*****************/
.education h3, .blog h3 {
    color: var(--primaryColor);
    font-size: 2rem;
}
.education .button {
    background-color: var(--secondaryColor);
    color: var(--white);
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
}
/*****************
BLOG
*****************/
/*****************
blog
*****************/
.blog p {
    margin-bottom: 36px;
}
.blog p::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: var(--secondaryColor);
    position: relative;
    top: 18px;
}